*
    box-sizing: border-box
body
    margin: 0
    font-family: 'Helvetica'

input, textarea, button 
    font-family: 'Helvetica'

.submit-button
    background-color: white
    color: black
    border-radius: 10px
    border: 1px solid black
    padding: 20px
    margin: 0 0 10px
    cursor: pointer


    
.btn
    display: inline-block
    border: none
    border-radius: 4px
    background-color: rgba(0,0,0,.2)
    color: white
    padding: 10px 15px
    cursor: pointer
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    max-width: 400px
    text-align: center
    min-width: 150px
    margin: 0 8px
.modal 
    height: 250px
    width: 515px
    background-color: #d32727
    border-radius: 5px
    color: white
    position: fixed
.modal-background
    position: fixed
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.8)
    display: flex
    align-items: center
    justify-content: center
    top: 0
    left: 0
.modal-text
    font-size: 20px
.header
    height: 70px
    background-color: #d32727
    border-radius: 3px
    display: flex
    align-items: center
    padding: 0 30px
    justify-content: space-between
    font-size: 20px
.modal-body
    padding: 0 30px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    text-align: center
    
.close-btn
    border: none
    color: white
    background-color: transparent
    
    width: 25px
    height: 25px
    fill: white
.actions
    padding-top: 50px